Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу (по убыванию)</option>
</select>

<p>
    Фильтровать по типу:
    <select ng-model="pockemonType" ng-options="type.value as type.title for type in pokemonTypes"></select>
</p>

<ul>
    <li ng-repeat="pokemon in formatedPokemons | filter: myQuery | filter: {type:pockemonType} | orderBy: myOrderProperty">
        <img ng-click="doAlert(pokemon.name)" style="cursor:pointer" src="{{pokemon.ThumbnailImage}}">
        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="getCss(pokemon.type[0])">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>